@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s infinite;
}